button{
    width: 150px;
    height: 46px;
    background: #ACA3BF;
    border: none;
    font-weight: bold;
    font-size: 20px;
}
.wrapper{
    text-align: center;
}
.selectedPage{
    font-weight: bold;
}
.page span{
    padding: 0 7px;
}