.ava_wrapper{
    margin-right: 20px;
}
.ava{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: 20px;
}
.full_name{
    font-size: 16px;
    float: left;
}
.wrapper{
    display: flex;
    flex-direction: row;
    border:1px solid gray;
    margin: 20px;
    background:#CDD6FF;
    border-radius: 10px;
}
.wrapper_block_about{
    width: 100%;
    padding: 20px;
    position: relative;
}
.location{
    float: right;
}
.location p{
    font-size: 16px;
}
.status{
    position: absolute;
    bottom: -11px;
    left: 0px;
    color: gray;
}
button.follow{
    width: 100px;
    height: 25px;
    font-size: 16px;
    margin-left: 16px;
    outline: none;
    transition: all 0.3s ease-in;
}
button.follow:hover{
    background-color: #C391C0;
    color: #fff;
}