.friends{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.friendsItem{
    max-width: 50px;
    width: 50px;
    max-height: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    margin: 5px;
}
.ava{
    display: flex;
    flex-direction: row;
}