.friends{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.friendsItem{
    max-width: 60px;
    width: 60px;
    max-height: 60px;
    height: 60px;
    margin: 5px;
}
.avatars{
    display: flex;
    flex-direction: row;
}
img{
    border-radius: 50%;
    background-color: aqua;
    max-width: 60px;
    width: 60px;
    max-height: 60px;
    height: 60px;
}