.nav {
    grid-area: n;
    background-color: #ddccff;
    padding: 20px;
}

.item{
    margin: 10px 10px 10px 0;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a.activeLink {
    color: 	#6666ff;
}